@import 'variables';

.messages {
  border-color: #A0C454;
  border-style: solid;
  border-width: 2px 0;
  margin: 20px 0 0;
  padding: 4px 10px;

  @media #{$tablet-and-above} {
    margin-bottom: 30px;
    padding: 4px 30px;
  }

  @media print {
    display: none;
  }

  .concertina {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 22px;

    &::after {
      font-family: 'icomoon' !important;
      font-size: 14px;
      content: $icon-accordian-open;
      display: inline-block;
      position: absolute;
      right: 0;
      transition: transform 0.2s ease;

      @media print {
        display: none;
      }
    }

    &.is-expanded {

      &::after {
        transform: rotate(45deg);
        transition: transform 0.2s ease;
      }
    }
  }

  .concertina-content {
    font-size: 14px;

    *:first-child {
      margin-top: 0;
    }
  }
}
