@import 'variables';

.message {
  border: 2px solid $message-border-color;
  border-radius: $default-border-radius;
  padding: 25px 40px;
  margin-bottom: 20px;

  *:first-child {
    margin-top: 0;
  }
}

.messages {
  min-width: $mobile-min-content-width;
  background-color: $welcome-bg-color;
  overflow: hidden; // force bfc

  > * {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    @media #{$desktop-and-above} {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
