@import 'variables';

$info-box-width: 180px;
$info-box-left-margin: 45px;

.marker-box {
  position: relative;
  width: 0;
  height: 0;

  &.is-active {
    z-index: 1;
  }
}

.marker-box-hover-wrapper {
  min-width: 30px;
  min-height: 36px;
  transform: translate(-15px, -35px);
  overflow: visible;

  .is-active & {
    width: $info-box-width + $info-box-left-margin;
  }
}

.marker {
  width: 30px;
  height: 30px;
  position: absolute;
  background: $map-marker-color;
  border-radius: 50% 50% 50% 0;
  border: 1px solid darken($map-marker-color, 20%);
  transform: rotate(-45deg);

  &:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 7px 0 0 7px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
  }

  .is-active & {
    background: $map-marker-selected-color;
    border-color: darken($map-marker-selected-color, 10%);
    cursor: pointer;
  }
}

.marker-info {
  display: none;

  .is-active & {
    display: block;
    position: relative;
    margin-left: $info-box-left-margin;
    background-color: #ffffff;
    width: $info-box-width;
    padding: 10px;
    font-family: $font-family-base;
    font-size: $font-size-base;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(-45deg);
      border-radius: 0 0 100% 0;
      background-color: #ffffff;
    }
  }

  h5 {
    margin-top: 0;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 0;
  }
}
