@import 'variables';

.marker-box {
  position: relative;
}

.marker {
  width: 30px;
  height: 30px;
  background: $map-marker-color;
  border-radius: 50% 50% 50% 0;
  border: 1px solid darken($map-marker-color, 20%);
  position: absolute;
  transform: rotate(-45deg);
  left: -15px;
  top: -35px;

  &:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 7px 0 0 7px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
  }

  &:hover {
    background: $map-marker-selected-color;
    border-color: darken($map-marker-selected-color, 10%);
    cursor: pointer;
  }
}

.marker-info {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    left: 30px;
    top: -35px;
    background-color: #ffffff;
    width: 150px;
    padding: 10px;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(-45deg);
      border-radius: 0 0 100% 0;
      background-color: #ffffff;
    }
  }
}
