@import 'variables';

.provider {
  border-top: 1px solid $border-color;

  &:first-child {
    border-top: 0 none;
    margin-top: 30px;

    @media #{$desktop-and-above} {
      margin-top: 0;
      border-top: 1px solid $border-color;
    }
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  .location {
    font-weight: 500;

    a {
      color: $text-color;
    }
  }

  .details p {
    margin: 6px 0;

    .details-title {
      font-weight: 500;
      margin-right: 6px;
    }
  }
}
