@import 'variables';

.provider {
  border-top: 1px solid $border-color;

  &:first-child {
    border-top: 0 none;
    margin-top: 30px;

    @media #{$desktop-and-above} {
      margin-top: 0;
      border-top: 1px solid $border-color;
    }
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  .location {
    font-weight: 500;

    .show-on-map {
      display: block;

      a {
        color: $text-color;
        font-weight: normal;
      }

      &::before {
        font-family: 'icomoon' !important;
        font-size: 20px;
        content: $icon-map-pin;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
  }

  .details p {
    margin: 6px 0;

    .details-title {
      font-weight: 500;
      margin-right: 6px;
    }
  }
}
