@import 'variables';

.read-more {
  border: 0;
  background-color: transparent;
  padding: 10px 0;
  min-width: auto;
  display: block;
  font-weight: 400;
  color: $text-color;

  &::after {
    font-family: 'icomoon' !important;
    content: $icon-accordian-open;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.2s ease;
  }

  &.hide::after {
    transform: rotate(45deg);
  }

  &:active {
    background-color: transparent;
  }
}
