@import 'variables';

.task {
  position: relative;

  .task + & {
    margin-top: -5px;
  }

  label {
    font-weight: 400;
    padding-left: 30px;
    margin: 0;
    display: inline-block;

    &.checked {
      text-decoration: line-through;
      color: $settings-elements-color;
    }
  }

  input {
    margin: 0;
    position: absolute;
    left: 0;
    top: 5px;
  }
}
