@import 'variables';

.bubble-chart-container {
  position: relative;
  width: 100%;
  padding-bottom: 107.3%; // sets aspect ratio http://stackoverflow.com/a/25978286/160648
  vertical-align: top;
  overflow: hidden;
}

.bubble-chart {
  display: inline-block;
  position: absolute;

  .name-text,
  .amount-text {
    font-size: 22px;
    text-anchor: middle;

    @media #{$tablet-and-above} {
      font-size: $font-size-base;
    }

    @media #{$extra-small-devices} {
      font-size: 32px;
    }
  }
}
