@import 'variables';

.welcome {
  position: relative;
  background-color: $welcome-bg-color;
  min-width: $mobile-min-content-width;

  @media print {
    background-color: $print-background-color;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 180px;
    background-color: $welcome-bg-color-secondary;

    @media #{$tablet-and-above} {
      height: 240px;
    }

    @media #{$desktop-and-above} {
      height: 400px;
    }

    @media print {
      display: none;
    }
  }

  .welcome-pane-wrapper {
    position: relative;
    max-width: $desktop-max-content-width;
    margin-left: auto;
    margin-right: auto;

    @media #{$tablet-and-above} {
      padding-top: 80px;
    }

    @media #{$desktop-and-above} {
      padding-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    @media print {
      padding-top: 10px;
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 312px;
      height: 195px;
      background-image: url(/assets/img/illustrations/header-illustration.png);
      background-size: cover;
      top: -152px;
      left: 50%;
      margin-left: -156px;

      @media #{$high-res} {
        background-image: url(/assets/img/illustrations/header-illustration-highres.png);
      }

      @media #{$tablet-and-above} {
        width: 432px;
        height: 270px;
        top: -210px;
        margin-left: -216px;
      }

      @media #{$desktop-and-above} {
        width: 560px;
        height: 350px;
        top: -272px;
        left: -90px;
        margin-left: 0;
      }

      @media print {
        display: none;
      }
    }
  }

  .welcome-intro {
    padding: 70px 15px 0;

    @media #{$tablet-and-above} {
      padding: 0 100px 0 15px;
    }

    @media #{$desktop-and-above} {
      position: absolute;
      top: -330px;
      max-width: $desktop-max-content-width;
      padding: 40px 100px 0 $welcome-desktop-padding-left;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 15px;

      @media print {
        color: $print-text-color;
      }
    }

    p {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      margin-bottom: 30px;

      @media #{$desktop-and-above} {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .welcome-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 19px;

    @media #{$desktop-and-above} {
      padding-bottom: 34px;
    }
  }

  .welcome-actions {
    @media only screen and (min-width: #{$desktop-max-content-width}) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .welcome-action {
    color: $welcome-button-color;
    font-weight: 500;
    text-decoration: none;
    background-color: $welcome-button-bg-color;
    padding: 7px 30px 7px 45px;
    border-radius: 18px;
    position: relative;
    margin-right: $welcome-buttons-margin-right;
    margin-bottom: 15px;
    min-width: 240px;

    @media #{$desktop-and-above} {
      margin-right: $welcome-desktop-buttons-margin-right;
    }

    &::before {
      font-family: 'icomoon' !important;
      font-size: $font-size-base;
      display: inline-block;
      position: absolute;
      left: 18px;
      top: 7px;
    }

    &:hover {
      background-color: $welcome-button-bg-color-hover;
    }

    &:focus {
      outline-color: $text-color;
    }

    &.welcome-action-personalise::before {
      content: $icon-personalise;
    }
    &.welcome-action-timeline::before {
      content: $icon-timeline;
    }
    &.welcome-action-todo-list::before {
      content: $icon-todo;
    }
    &.welcome-action-register-birth::before {
      content: $icon-tick;
    }

    &:last-of-type {
      margin-right: 0;
    }

    @media print {
      display: none;
    }
  }
}
