/*
    ------------------------------------------------------
    RealMe agency assets
    ------------------------------------------------------

    Table of contents:

    1. Base widget
    2. Typography
    2. Links
    3. Icons
    4. Colour themes

*/
.realme_widget, .realme_button, .realme_popup_position, .realme_login, .realme_create_account, .whats_realme, .realme_link, .realme_popup, .realme_find_out_more {
  position: relative;
}

.realme_login_lockup img, .realme_arrow_top_left .arrow, .realme_arrow_top_right .arrow, .realme_popup_wrapper, .realme_arrow_side_left .arrow, .realme_arrow_side_right .arrow, .realme_icon_find_out_more, .realme_icon_link, .realme_icon_padlock {
  position: absolute;
}

/* Clearfix */
.realme_widget:before, .realme_secondary_login:before, .realme_login_lockup:before, .realme_popup:before, .realme_widget:after, .realme_secondary_login:after, .realme_login_lockup:after, .realme_popup:after {
  content: " ";
  display: table;
}
.realme_widget:after, .realme_secondary_login:after, .realme_login_lockup:after, .realme_popup:after {
  clear: both;
}

.realme_title, .realme_mini_title, .realme_button {
  font-weight: bold;
}

.realme_secondary_login, .realme_secondary_login .realme_popup_position, .realme_login, .realme_create_account, .realme_link, .realme_icon_new_window, .realme_text_icon_new_window {
  display: inline-block;
  vertical-align: bottom;
}

.realme_button, .realme_button_padding, .realme_icon_find_out_more, .realme_icon_link, .realme_icon_padlock {
  display: block;
}

.realme_icon_find_out_more, .realme_icon_link, .realme_icon_padlock, .realme_icon_new_window, .realme_text_icon_new_window {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.realme_primary_login, .realme_alternative_login, .realme_assert {
  border-width: 1px;
  border-style: solid;
}

/*
	The base RealMe widget
	-----------------------------------------------------
*/
.realme_widget {
  padding: 0.76923em 1.07692em;
  border-color: transparent;
  /* The border-color is modified by each theme */
  /*font-family: sans-serif;*/
  color: inherit;
  font-size: 15px;
  /* Set font-size explicitly to avoid cascade from the page. */
  line-height: 1.53846;
  /* Reset the line-height to something senisble inside the widget */
}

.realme_widget p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.realme_widget a {
  text-decoration: none;
}

.realme_login, .realme_create_account, .whats_realme, .realme_link {
  color: #2c5897;
}
.realme_login:hover, .realme_create_account:hover, .whats_realme:hover, .realme_link:hover, .realme_login:active, .realme_create_account:active, .whats_realme:active, .realme_link:active {
  color: #204170;
  text-decoration: underline;
}

/*
	Typography
	-----------------------------------------------------
*/
.realme_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.230769231em;
  /* 16px */
}

.realme_mini_title {
  font-size: 1.076923077em;
  /* 14px */
}

/*
	Buttons
	-----------------------------------------------------
*/
.realme_button {
  line-height: 1;
  margin-top: 1px;
  cursor: pointer;
  color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #3871ae;
  background-repeat: repeat-x;
  background-image: linear-gradient(#3a78bb, #3871ae);
  border-radius: 3px;
  border-color: #1d5794;
}
.realme_button:hover, .realme_button:focus {
  background-color: #2f5f93;
  background-image: none;
  color: #fff;
  border-color: #103154;
}

.realme_button_padding {
  color: #fff;
  padding: 0.92308em 2.53846em 0.92308em 1.23077em;
}

/*
	Top-level widgets
	-----------------------------------------------------
 */
.realme_primary_login {
  max-width: 28em;
  min-width: 16.30769em;
  padding: 1.38462em;
}
.realme_primary_login p {
  font-size: 14px;
}
.realme_primary_login .realme_create_account {
  float: right;
}

.realme_alternative_login {
  max-width: 18em;
  min-width: 10.30769em;
}
.realme_alternative_login .realme_title {
  font-size: 1.076923077em;
  margin-bottom: 0.5em;
}

.realme_assert .whats_realme, .realme_assert .realme_create_account, .realme_primary_login .whats_realme, .realme_primary_login .realme_create_account, .realme_alternative_login .whats_realme, .realme_alternative_login .realme_create_account {
  margin-top: 0.5em;
}

.realme_assert {
  max-width: 28em;
}

.realme_secondary_login {
  padding-right: 2.76923em;
  background-repeat: no-repeat;
  background-position: right center;
}
.realme_secondary_login .realme_login, .realme_secondary_login .realme_link, .realme_secondary_login .realme_create_account {
  padding-right: 1.5em;
  padding-top: 0;
}
.realme_secondary_login .realme_pipe {
  border-right: solid 1px;
  padding-left: 0.5em;
}
.realme_secondary_login .realme_pipe:first-child {
  padding-left: 0;
}
.realme_secondary_login .whats_realme {
  font-weight: bold;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top: 0;
}
.realme_secondary_login .realme_link {
  margin-right: 0.75em;
}

/*
	Components
	-----------------------------------------------------
*/
/* Used to separate elements vertically. Can be themed*/
.realme_hr {
  margin: 0;
  border: 0;
  padding: 0.1em 0 0.38462em;
  border-bottom: 1px solid #ddd;
  height: 1px;
}

.realme_login_lockup {
  margin-bottom: 1em;
}

/*
    Links
    -----------------------------------------------------
*/
.realme_login, .realme_create_account, .realme_link {
  padding-right: 1.2em;
}

.whats_realme {
  float: left;
}

.realme_btn_margin {
  margin-left: 45px;
}

.realme_link {
  text-decoration: none;
}

/*
	Colour themes
	-----------------------------------------------------
*/
.realme_theme_default {
  color: #000 !important;
  border-color: #62b0d1;
  background-color: #eaf4f8;
}
.realme_theme_default .realme_title, .realme_theme_default .realme_info {
  color: #000;
}
.realme_theme_default .realme_hr, .realme_theme_default .realme_pipe {
  border-color: #c0dced;
}

.realme_theme_light {
  color: #000 !important;
  border-color: #eaf4f8;
  background-color: #fff;
}
.realme_theme_light .realme_title, .realme_theme_light .realme_info {
  color: #000;
}
.realme_theme_light .realme_hr, .realme_theme_light .realme_pipe {
  border-color: #cce5f1;
}

.realme_theme_dark {
  color: #fff;
  background-color: #3e4d5d;
  border-color: #3e4d5d;
}
.realme_theme_dark .realme_title, .realme_theme_dark .realme_info {
  color: #fff;
}
.realme_theme_dark .realme_hr, .realme_theme_dark .realme_pipe {
  border-color: #587a90;
}
.realme_theme_dark .realme_login, .realme_theme_dark .realme_create_account, .realme_theme_dark .whats_realme, .realme_theme_dark .realme_link {
  color: #fff;
}
.realme_theme_dark .realme_icon_link {
  background-image: url('/assets/img/realme/icon-new-window-white.png');
}
.realme_theme_dark .realme_button {
  border-color: #4683c4;
}
.realme_theme_dark .realme_button:hover, .realme_theme_dark .realme_button:active {
  border-color: #3871ae;
}
.realme_theme_dark.realme_secondary_login {
  background-image: url('/assets/img/realme/logo-simple-login-dark.png');
}
