@import 'variables';

.spinner {
  text-align: center;
  font-weight: bold;
  background: url(/assets/img/bundle-loading-mobile.gif) no-repeat center top transparent;
  padding-top: 100px;
  margin-top: 50px;

  @media #{$tablet-and-above} {
    background: url(/assets/img/bundle-loading-desktop.gif) no-repeat center top transparent;
    padding-top: 180px;
    margin-top: 100px;
  }
}
