@import 'variables';

.feature-page {

  .site-container {
    background-color: $welcome-bg-color;
    min-width: $mobile-min-content-width;

    @media print {
      background-color: $print-background-color;
    }
  }

  .feature-page-content {
    padding-left: $card-padding;
    padding-right: $card-padding;
    min-width: $mobile-min-content-width;

    @media #{$desktop-and-above} {
      padding-left: $card-padding-desktop;
      padding-right: $card-padding-desktop;
      max-width: $phase-content-width-desktop;
      margin-left: auto;
      margin-right: auto;
    }

    a,
    button,
    .button {
      color: $text-color;
      border-color: $text-color;

      &:active {
        color: $background-color;
      }
    }
  }

  .page-footer {
    background-color: $welcome-bg-color;
  }

  .back-to-main {
    margin-bottom: 0;
    padding-left: 0;
  }

  .introtext {
    margin-bottom: 50px;
  }

  h5 {
    margin-top: 35px;
  }
}
