@import 'variables';

.site-metadata,
.back-to-main {
  max-width: $desktop-max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  @media #{$desktop-and-above} {
    padding: 15px $header-desktop-padding-left;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-metadata {

  h2 {
    font-weight: 700;
    font-size: 26px;

    @media #{$desktop-and-above} {
      font-size: 32px;
    }
  }

  h3, h4 {
    font-family: $font-family-base;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}

.contact-logos {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    display: inline-block;
    margin: 0 15px 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .logo-png {
    height: 47px;
  }
}
