@import 'variables';

.page-header {
  background-color: $header-background-color;
  min-width: $mobile-min-content-width;
  position: relative;
  z-index: $z-index-header; // above .settings-pane

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    height: 16px;
    width: 100%;
    box-shadow: $header-subtle-dropshadow;
    pointer-events: none;
  }
}

.page-header-inner {
  max-width: $desktop-max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$desktop-and-above} {
    padding-left: $header-desktop-padding-left;
  }
}

h1 {
  font-size: 0;
  margin: 0 15px 0 0;
  display: inline-block;

  a {
    background-image: url('/assets/img/site-logo.svg');
    background-repeat: no-repeat;
    width: 120px;
    height: 45px;
    background-size: contain;
    display: block;
    visibility: hidden; // TODO remove this once branding is confirmed

    @media #{$desktop-and-above} {
      width: 160px;
      height: 60px;
    }

    @media #{$extra-small-devices} {
      width: 80px;
      height: 30px;
    }
  }
}

.auth-controls {
  display: inline-block;
}

.user-logged-in-message {
  color: #ffffff;
}
