@import 'variables';

.page-header {
  background-color: $header-background-color;
  min-width: $mobile-min-content-width;
  position: relative;
  z-index: $z-index-header; // above .settings-pane

  @media print {
    background: $print-background-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    height: 16px;
    width: 100%;
    box-shadow: $header-subtle-dropshadow;
    pointer-events: none;

    @media print {
      display: none;
    }
  }
}

.page-header-inner {
  max-width: $desktop-max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 0;
  margin: 0 15px 0 0;
  display: inline-block;

  a {
    background-image: url('/assets/img/smartstart-logo-white.svg');
    background-repeat: no-repeat;
    width: 120px;
    height: 27px;
    background-size: contain;
    display: block;

    @media #{$desktop-and-above} {
      width: 205px;
      height: 45px;
    }

    @media #{$extra-small-devices} {
      width: 40px;
      height: 40px;
      background-image: url('/assets/img/smartstart-symbol.svg');
    }

    @media print {
      display: none;
    }
  }

  img {
    display: none;

    @media print {
      display: block;
      width: 205px;
      height: 45px;
    }
  }
}

.auth-controls {
  display: inline-block;

  @media print {
    display: none;
  }
}

.user-logged-in-message {
  color: #ffffff;
}
