/*
 * ONLY BASE PROJECT STYLES SHOULD GO IN HERE
 * e.g. basic font setup, links etc.
 *
 * All other styles should go into individual component subfolders,
 * and be included via an import statement from the component.
 *
 * The variables and mixins files should be included from every .scss file that
 * has a dependency upon them, as load order beyond this base style
 * file *cannot be guaranteed*. The variables and mixins files must not
 * generate any actual CSS, so that this repetition is harmless.
 *
 * Utilities like clearfix should be included in this base file.
 */

@import 'static/variables';
// Do NOT include further imports unless the base styles have a direct dep

html {
  box-sizing: border-box;
  font-size:62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
  color: $text-color;
  background-color: $background-color;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

::selection {
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


// HELPER CLASSES from HTML5 Boilerplate

// Hide visually and from screen readers
.hidden {
  display: none !important;
}

// Hide only visually, but have it available for screen readers
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// https://www.drupal.org/node/897638
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screen readers, but maintain layout
.invisible {
  visibility: hidden;
}

// Clearfix
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
