// responsive breakpoints
$extra-small-devices:  'only screen and (max-width: 390px)';
$tablet-and-above:     'only screen and (min-width: 768px)';
$tablet-only:          'only screen and (min-width: 768px and max-width: 991px)';
$desktop-and-above:    'only screen and (min-width: 992px)';
$high-res:             'only screen and (min-resolution: 2dppx)';

// brand colors
$realme-dark-blue:     #3e4d5d;
$realme-middle-blue:   #125da3;
$accent-color-dark:    #66b3aa;
$accent-color:         #c1e0dd;
$accent-color-light:   #d1e8e5;

// base colors
$background-color:     #ffffff;
$text-color:           #4f4b46;
$link-color:           #285a9b;
$link-color-hover:     $realme-dark-blue;
$error-background:     #D25151;
$error-outline:        #E30013;

$border-color: #d2d2d2;
$table-border-color: #959390;

// base dimensions
$default-border-radius: 18px;
$desktop-max-content-width: 1140px;
$mobile-min-content-width: 320px;
$indent: 160px;

// typography
$font-size-base: 16px;
$line-height-base: 1.625; // 26px for 16px base size
$font-family-base: 'fira-sans', sans-serif;
$font-family-headers: $font-family-base;

// header
$header-background-color: $realme-dark-blue;
$header-error-color: $error-background;
$header-subtle-dropshadow: inset 0px 12px 10px -5px rgba(0,0,0,0.1); // actually inset drop on following elements

// settings panel
$settings-elements-bg-color: #65717D;
$settings-elements-color: #C5CACE;

// welcome
$welcome-bg-color: #d9ed96;
$welcome-bg-color-secondary: #e0f8ff;
$welcome-desktop-padding-left: 376px;
$welcome-button-color: #fff;
$welcome-button-bg-color: $link-color-hover;
$welcome-button-bg-color-hover: $text-color;

// timeline
$timeline-border-width: 2px;
$timeline-spacing:      65px;
$timeline-line-left-mobile: 41px;
$timeline-line-left-desktop: -407px;
$timeline-terminator-size: 15px;

// phase
$phase-background-color:      $accent-color;
$phase-content-width-desktop: 750px;

// card
$card-background-color: #eeeded;
$card-padding:          15px;
$card-padding-desktop:  30px;
$card-arrow:            22px;
$card-arrow-desktop:    30px;

$card-accordion-color:      #dcdcdc;
$card-accordion-open-color: $link-color;

$non-chronological-accordion-color:        #f5f4f4;
$non-chronological-accordion-open-color:   $accent-color-light;
$non-chronological-accordion-border-color: #d2d2d2;

$non-chronological-nested-accordion-color:      #e8e5e5;
$non-chronological-nested-accordion-open-color: $accent-color-light;

// expandables and checkboxes
$expandable-larger-font-size:   18px;
$expandable-larger-line-height: 26px;

$left-side-curve-width: 40px;

// supplementary information section
$supplementary-background-color:          #fef4e3;
$supplementary-header-color:              #fde4bb;
$supplementary-arrow:                     $card-arrow;
$supplementary-arrow-desktop:             $card-arrow-desktop;
$supplimentary-accordian-border-color:    #fcc977;
$supplementary-content-background-color:  #fef9f1;

$supplementary-nested-accordion-color:          #e8e5e5;
$supplementary-nested-accordion-open-color:     $supplementary-header-color;
$supplementary-nested-content-background-color: #feefd6;

// footer
$footer-background-color:     $realme-dark-blue;
$footer-link-color:           #c5c9ce;
$footer-link-color-hover:     #ffffff;
$footer-top-spacing-mobile:   70px;
$footer-top-spacing-desktop:  100px;
$footer-curve-height:         15px;

// print styles
$print-background-color:      #fff;
$print-text-color:            $text-color;
$print-border:                1px solid $text-color;

// z-index index
$z-index-header: 5;
$z-index-jump-nav-list: 1;
$z-index-settings-trigger: 4;
$z-index-settings-pane-open: 2;
$z-index-settings-pane-fixed: 3;

// icons
$icon-accordian-close:  '\e900';
$icon-accordian-open:   '\e901';
$icon-external-link:    '\e902';
$icon-personalise:      '\e903';
$icon-todo:             '\e906';
$icon-timeline:         '\e907';
$icon-theme-finance:    '\e904';
$icon-theme-health:     '\e905';
