// responsive breakpoints
$tablet-and-above:     'only screen and (min-width: 768px)';
$tablet-only:          'only screen and (min-width: 768px and max-width: 991px)';
$desktop-and-above:    'only screen and (min-width: 992px)';

// brand colors
$realme-dark-blue:     #3e4d5d;
$accent-color:         #c1e0dd;

// base colors
$background-color:     #ffffff;
$text-color:           #4f4b46;
$link-color:           #285a9b;
$link-color-hover:     $realme-dark-blue;

$border-color: #d2d2d2;

// base dimensions
$default-border-radius: 18px;
$desktop-max-content-width: 1140px;

// header
$header-background-color: $realme-dark-blue;
$header-desktop-padding-left: 160px;

// timeline
$timeline-border-width: 2px;
$timeline-spacing:      65px;

// phase
$phase-background-color:      $accent-color;
$phase-content-width-desktop: 750px;

// card
$card-background-color: #eeeded;
$card-padding:          15px;
$card-padding-desktop:  30px;
$card-arrow:            22px;
$card-arrow-desktop:    30px;

$card-accordion-color:      #dcdcdc;
$card-accordion-open-color: $link-color;

// icons
$icon-accordian-close:  '\e900';
$icon-accordian-open:   '\e901';
$icon-external-link:    '\e902';
$icon-personalise:      '\e903';
$icon-theme-finance:    '\e904';
$icon-theme-health:     '\e905';
