@import 'variables';

.settings-pane-wrapper {
  position: relative;
  min-width: $mobile-min-content-width;
  max-width: $desktop-max-content-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &.is-fixed {
    position: fixed;
    z-index: $z-index-settings-pane-fixed;
    top: 0;
    left: 0;
    right: 0; // need to set both left & right otherwise margin auto doesn't work

    // need to be able to scroll to see too-tall content
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // otherwise older safari barfs

    .settings-pane {
      box-shadow: $header-subtle-dropshadow;
    }

    .settings-triggers {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.settings-triggers {
  position: absolute;
  z-index: $z-index-settings-trigger;
  top: 0;
  right: 15px;
  border-radius: 0 0 5px 5px;
  background-color: $background-color;
  transition: background-color 0.5s, border-bottom-right-radius 0.5s;

  .settings-trigger {
    padding: 12px 12px 10px;
    border: 0 none;
    background-color: transparent;
    border-radius: 0;
    font-weight: normal;
    position: relative;
    border-right: 1px solid $border-color;
    transition: color 0.5s;

    // hide the text normally
    font-size: 0px;
    min-height: 44px;
    min-width: 44px;

    @media #{$tablet-and-above} {
      // show the text on tablet and above
      font-size: $font-size-base;
      padding: 12px 12px 10px 36px;
    }

    &::before {
      font-family: 'icomoon' !important;
      font-size: $font-size-base;
      content: $icon-personalise;
      display: inline-block;
      position: absolute;
      left: 13px;
      top: 14px;
    }

    &:last-child {
      border-right: 0 none;
    }

    &.settings-trigger-todo-list::before {
      content: $icon-todo;
    }
  }

  &.pane-open {
    background-color: $realme-dark-blue;
    border-bottom-right-radius: 0;

    .is-fixed & {
      box-shadow: none;
    }

    .settings-trigger {
      color: #ffffff;
      border-right: 1px solid darken($settings-elements-color, 10%);

      &:last-child {
        border-right: 0 none;
      }

      &:hover,
      &:active,
      &.is-open {
        color: $settings-elements-color;
        background-color: $settings-elements-bg-color;

        &:first-child {
          border-bottom-left-radius: 5px;
        }
      }
    }

  }
}

.settings-pane {
  visibility: hidden;
  position: absolute;
  z-index: $z-index-settings-pane;
  color: $background-color;
  background-color: $realme-dark-blue;
  padding: $card-padding-desktop;
  padding-top: $card-padding-desktop * 2;
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(calc(-100% - 60px)); // add on curved bottom space too
  transition: transform 0.5s ease, visibility 1s;

  &.is-open {
    visibility: visible;
    transform: translateY(0);
    z-index: $z-index-settings-pane-open;
  }

  @media #{$tablet-and-above} {
    max-width: 555px;
    right: 0;
  }

  // curved bottom
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background-color: $realme-dark-blue;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: -1;

    @media #{$desktop-and-above} {
      height: 96px;
      bottom: -48px;
    }
  }

  > h4:first-child {
    margin-top: 0;
  }

  a {
    color: $background-color;

    &:hover,
    &:focus,
    &:active {
      color: $background-color;
    }
  }

  input {
    background-color: $settings-elements-bg-color;
    color: $background-color;

    &::placeholder {
      color: #C5CACE;
    }

    &::selection {
      background: $realme-dark-blue;
    }
  }

  .button-set {
    border-top-color: #8B949D;

    .button,
    button {
      background-color: $background-color;
      border-color: $background-color;
      color: $realme-dark-blue;

      &:active,
      &:hover {
        background-color: $background-color;
        border-color: $background-color;
        color: $realme-dark-blue;
      }
    }

    .reset-button,
    .reset-button:active,
    .reset-button:hover {
      position: absolute;
      left: 0;
      padding-left: 0;
      padding-right: 0;
      border-color: transparent;
      background-color: transparent;
      color: $background-color;
    }

    // iPhone 5 needs to have an extra row - make space for reset via padding
    @media #{$extra-small-devices} {
      padding-top: 60px;

      .reset-button {
        top: 0;
      }
    }

    .cancel-button,
    .cancel-button:active,
    .cancel-button:hover {
      background-color: transparent;
      color: $background-color;
    }
  }
}
